@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#menu_btn {
	cursor: pointer;
}

.menu .hide {
	display: none;
}

#menu_magin {
	margin: 30px;
}

#menu_magin {
	margin: 30px;
}

li {
	list-style: none;
}

.menu #menu_btn {
	text-align: center;
	color: #fff;
	cursor: pointer;
	width: 170px;
	background-color: #002130;
	font-size: 20px;
	border: 1px solid #fff;
	padding: 20px;
}

.hide li {
	text-align: center;
	border: 1px solid #fff;
	width: 170px;
	background-color: #e5e5e5;
	padding: 20px;
}

.menu ul a {
	color: #00938e;
	text-decoration: none;
}