@charset "UTF-8";

li {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

span {
	color: #858484;
}

/* 로그인 팝업창 부분 */
#loginmodal {
	border: 1px solid #16bab4;
	width: 450px;
	height: 550px;
	/*팝업창의 크기조절*/
	margin-top: -50px;
	/*팝업창 위아래 간격조절*/
	background: #f3f6fa;
	border-radius: 6px;
	position: fixed;
	text-align: center;
	z-index: 99;
	margin-top: 50px;
}

li {
	list-style: none;
}

/* 레이어 로그인 DIV 부분 */
#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#close_li {
	width: 50px;
}

#close {
	border: none;
	outline: none;
	background-color: #e7e7e7;
	cursor: pointer;
}

#close_size {
	font-size: 30px;
}

/* 로그인 타이틀 부분 */
#loginTitle {
	/*border: 1px solid black;*/
	width: 100%;
	height: 80px;
	font-size: 18px;
	font-weight: 200;
	background-color: #e7e7e7;
}

#logincenter {
	text-align: center;
	margin: auto;
	width: 600px;
}

.flatbtn {
	background-color: #FFFFFF;
	border: none;
	font-size: 12px;
	outline: none;
	cursor: pointer;
}

/* 로그인 리스트 */
#loginTitle li {
	/*border: 1px solid black;*/
	border-right: 2px solid #f3f6fa;
	float: left;
	line-height: 80px;
	width: 282px;
	vertical-align: middle;
	text-align: center;
}

/* ================회원 아이디 리스트================ */

/* 회원 로그인 리스트 */
#member_in {
	padding: 30px 72px 27px 72px;
	background-color: #f3f6fa;
}

#member_in input {
	background-color: #f3f6fa;
	cursor: auto;
	vertical-align: middle;
	padding: 10px;
	width: 400px;
}

#id_auto input {
	width: 20px;
}

#id_sty {
	/*border: 1px solid black;*/
	border-bottom: 1px solid #c5c5c5;
	position: relative;
	padding: 18px 30px 10px 70px;
	height: 40px;
}

#id {
	padding: 3px 5px;
	margin-top: 7px;
	width: 100%;
	max-width: 280px;
	border: none;
	color: #858484;
	font-weight: 300;
	box-sizing: border-box;
}

/* 회원 로그인 아이콘 이미지 */
#id_ico img {
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 15px;
	width: 40px;
	height: 40px;
	background: 0 0 no-repeat;
	vertical-align: middle;
	border: none;
}

/* 회원 패스워드 리스트 */
#pw_sty {
	/*border: 1px solid black;*/
	border-bottom: 1px solid #c5c5c5;
	position: relative;
	padding: 18px 30px 10px 70px;
	height: 40px;
}

#pw {
	padding: 3px 5px;
	margin-top: 7px;
	width: 100%;
	max-width: 280px;
	border: none;
	color: #858484;
	font-weight: 300;
	box-sizing: border-box;
}

/*회원 패스워드 아이콘*/
#pw_ico img {
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 15px;
	width: 40px;
	height: 40px;
	background: 0 0 no-repeat;
	vertical-align: middle;
	border: none;
}

/* 회원 아이디 저장 여부 */
#id_auto {
	padding-top: 14px;
	text-align: center;
	color: #858484;
}

/* 회원 로그인 버튼 */
.btn_login {
	border-style: none;
	margin-top: 15px;
	height: 40px;
	color: #f3f6fa;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
}

/* 다른업체을 통한 로그인 */
#join_login {
	padding: 15px 0 4px 0;
}

#join_login div {
	float: left;
	width: 500px;
	line-height: 37px;
	display: block;
	border: 1px solid #bfbfbf;
	text-align: center;
	vertical-align: middle;
}

#join_login a {
	color: #858484;
}

/* 아이디 찾기 */
#find_join {
	display: block;
	text-align: center;
	font-size: 14px;
	width: 600px;
}

#find_join a {
	color: #858484;
}

/* ================사업자 로그인 리스트================ */
#company_in {
	padding: 30px 72px 27px 72px;
	background-color: #f3f6fa;
	height: 380px;
}

#company_in input {
	background-color: #f3f6fa;
	vertical-align: middle;
}

/* 사업자 아이디 리스트 */
#id_sty_2 {
	/*border: 1px solid black;*/
	border-bottom: 1px solid #c5c5c5;
	position: relative;
	padding: 18px 30px 10px 70px;
	height: 40px;
}

#id_2 {
	padding: 3px 5px;
	margin-top: 7px;
	width: 100%;
	max-width: 280px;
	border: none;
	color: #858484;
	font-weight: 300;
	box-sizing: border-box;
}

/* 사업자 로그인 아이콘 이미지 */
#id_ico_2 img {
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 15px;
	width: 40px;
	height: 40px;
	background: 0 0 no-repeat;
	vertical-align: middle;
	border: none;
}

/* 사업자 패스워드 리스트 */
#pw_sty_2 {
	/*border: 1px solid black;*/
	border-bottom: 1px solid #c5c5c5;
	position: relative;
	padding: 18px 30px 10px 70px;
	height: 40px;
}

/* 사업자 패스워드 아이콘 이미지 */
#pw_ico_2 img {
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 15px;
	width: 40px;
	height: 40px;
	background: 0 0 no-repeat;
	vertical-align: middle;
	border: none;
}

#pw_2 {
	padding: 3px 5px;
	margin-top: 7px;
	width: 100%;
	max-width: 280px;
	border: none;
	color: #858484;
	font-weight: 300;
	box-sizing: border-box;
}

/* 사업자 아이디 저장 여부 */
#id_auto_2 {
	padding-top: 14px;
	text-align: center;
	color: #858484;
}

/* 사업자 로그인 버튼 */
.btn_login_2 {
	border-style: none;
	margin-top: 15px;
	width: 400px;
	height: 40px;
	color: #f3f6fa;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
}

.btn_login_2:hover {
	background-color: #00938e;
}

/* 사업자 아이디 찾기 */
#find_join_2 {
	display: block;
	text-align: center;
	font-size: 14px;
}

#find_join_2 a {
	color: #858484;
}

