@charset "UTF-8";

li {
	list-style: none;
}

#pwForm_div1 {
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
	width: 50%;
}

#pwForm_div1 strong {
	font-size: 12px;
	color: #08a600;
}

#pwForm_div2 {
	text-align: center;
	width: 500px;
	height: inherit;
	margin: 0 auto;
	padding-top: 20px;
}

#pwForm_div2 p {
	font-size: 32px;
	color: #006c69;
	text-align: center;
}

#pwForm_div2 li {
	padding-right: 65px;
	text-align: right;
	padding-top: 20px;
	color: #666;
}

.style_change_user_pass input[type="password"] {
	border: 1px solid #BDBDBD;
	font-size: 20px;
	padding: 5px;
	width: 300px;
}

.style_change_user_pass input[type="submit"] {
	border: 1px solid #BDBDBD;
	font-size: 15px;
	padding: 5px;
	width: 300px;
	color: #fff;
	border: 1px solid #16bab4;
	background-color: #16bab4;
}