@charset "UTF-8";


.totalView {
	padding-top: 50px;
	width: 1000px;
	text-align: center;
	height: 700px;
	margin: 0 auto;
}


#mainSize {
	float: left;
}

#updateInfo {
	width: 300px;
	height: 60px;
	text-align: left;
	font-size: 32px;
	color: #006c69;
}

/*�닔�젙�븯湲� 由ъ뒪�듃css*/
#boardUpdateInfoForm {
	width: 300px;
	height: 60px;
	margin-left: 80px;
	text-align: left;
}

#boardUpdateInfoTable {
	width: 800px;
	text-align: center;
	border: 1px solid gray;
	margin-top: 20px;
}

#boardUpdateInfoTable td {
	border: none;
}

#boardUpdateInfoTable td {
	border-bottom: 1px solid gray;
}

.line1 {
	border-bottom: 1px solid gray;
	width: 80px;
	height: 50px;
}

.line2 {
	border-bottom: 1px solid gray;
	width: 500px;
}

#user_id {
	width: 490px;
	border: none;
}

#board_title {
	height: 50px;
	width: 495px;
	border: none;
}

#board_content {
	width: 490px;
	border: none;
	resize: none;
}

#boardUpdateBtn {
	padding: 10px;
	outline: none;
	width: 100px;
	margin: 10px;
	background-color: #16bab4;
	border: none;
	cursor: pointer;
	color: #fff;
}

#boardUpdateBtn:hover {
	background-color: #00938e;
}

#boardResetBtn {
	padding: 10px;
	outline: none;
	width: 100px;
	margin: 10px;
	background-color: #16bab4;
	border: none;
	cursor: pointer;
	color: #fff;
}

#boardResetBtn:hover {
	background-color: #00938e;
}

textarea {
	resize: none;
	overflow-x: hidden;
	padding: 10px;
}