@charset "UTF-8";

li {
	list-style: none;
}

#style_update_div_1 h2 {
	color: #808080;
}

#style_update_div_1 p {
	font-size: 32px;
	color: #006c69;
	text-align: center;
}

#style_update_div_1 strong {
	font-size: 12px;
	color: #08a600;
}

#style_update_div_1 {
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
	width: 50%;
}

#style_update_div_2 {
	text-align: center;
	width: 500px;
	height: inherit;
	margin: 0 auto;
	padding-top: 20px;
}

#style_update_div_2 li {
	padding-right: 65px;
	text-align: right;
	padding-top: 20px;
	color: #666;
}

#style_update_div_2 input[type="text"] {
	border: 1px solid #BDBDBD;
	font-size: 20px;
	padding: 5px;
	width: 300px;
}

#style_update_div_2 input[type="submit"] {
	border: 1px solid #BDBDBD;
	font-size: 15px;
	padding: 5px;
	width: 300px;
	color: #fff;
	border: 1px solid #16bab4;
	background-color: #16bab4;
}

#style_update_div_2 input[type="button"] {
	border: 1px solid #BDBDBD;
	font-size: 15px;
	padding: 5px;
	width: 300px;
	color: #fff;
	border: 1px solid #16bab4;
	background-color: #16bab4;
}
